@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
  /* ... */
}
/* 
@layer {
  h3My {
    @apply font-nova
    @apply text-[28px] 
    @apply font-bold 
    @apply leading-[34px] 
    @apply tracking-[.4133px];
  }
} */
